# ================================
# Variables de entorno - Backend Ventas
# ================================
DOCKERHUB_USERNAME=tu_usuario_dockerhub

DB_NAME=ventas_db
DB_USERNAME=ventas_user
DB_PASSWORD=tu_password_seguro
MYSQL_ROOT_PASSWORD=tu_root_password_seguro
